body {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  border: 10px solid red;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

img {
  margin: 10px;
  height: 90px;
  width: 150px;
}
